

  {% include "header.html" %}


  <div class="container container-table top-padded" >

<form action="" method="post" enctype="multipart/form-data" id="form2" class="form-horizontal">

<fieldset>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Description</label>  
  <div class="col-md-4">
  <input id="description" name="description" type="text" placeholder="Description" class="form-control input-md" data-hint="Get it, use it." data-intro="Add a description for your image. This will sit above the image.">
  <span class="help-block">help</span>  
  </div>
</div>

<!-- File Button --> 
<div class="form-group">
  <label class="col-md-4 control-label" for="filebutton">File Button</label>
  <div class="col-md-4">
    <input id="filebutton" name="filebutton[]" class="input-file" type="file" data-step="2" data-intro="Now, upload your picture">
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="signup"></label>
  <div class="col-md-4">
     <button id="publish" name="publish" class="btn btn-success" data-step="3" data-intro="Click submit to save this picture and description." >Save</button>
  </div>
</div>

</fieldset>
</form>

</div>

  {% include "footer.html" %}






