

  {% include "header.html" %}

  <div class="container container-table top-padded" >
<form class="form-horizontal" method="post" action="">
<fieldset>


<!-- Text input-->
<div class="form-group form-group-lg">
  <label class="col-md-4 control-label" for="username">Post Title</label>  
  <div class="col-md-4">
  <input class="input-lg" id="title" name="title" type="text" required="required" placeholder="Post Title" class="form-control input-md">
  </div>
</div>


<!-- Button -->
<div class="form-group form-group-lg">
  <label class="col-md-4 control-label" for="create"></label>
  <div class="col-md-4">
    <button id="create" name="create" class="btn btn-primary">Create</button>
  </div>
</div>

</fieldset>
</form>
</div>

  {% include "footer.html" %}






