

  {% include "header.html" %}


<div class="list-group" style="margin-top: 50px;">
  {% for item in items %}

  <a href="#" class="list-group-item active">
      <h4 class="list-group-item-heading">{{ item.description }} - <span class="glyphicon glyphicon-picture" aria-hidden="true"></h4>
    <p class="list-group-item-text">Image Post</p>
  </a>

  <br />

  {% end %}
 
</div>

<script type="text/javascript">

    function showDiv() {
           document.getElementById('formdiv').style.display = "block";
           document.getElementById('buttons').style.display = "none";
    }

</script>




<div id="formdiv" style="display:none;">
<form action="" method="post" enctype="multipart/form-data" id="form2" class="form-horizontal">

<fieldset>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Description</label>  
  <div class="col-md-4">
  <input id="description" name="description" type="text" placeholder="Description" class="form-control input-md">
  <span class="help-block">help</span>  
  </div>
</div>

<!-- File Button --> 
<div class="form-group">
  <label class="col-md-4 control-label" for="filebutton">File Button</label>
  <div class="col-md-4">
    <input id="filebutton" name="filebutton[]" class="input-file" type="file">
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="signup"></label>
  <div class="col-md-4">
     <button id="publish" name="publish" class="btn btn-success">Save</button>
  </div>
</div>

</fieldset>
</form>
</div>


    <div id="buttons"> 
    <button id="add" name="add" class="btn btn-primary" onclick="showDiv()">Add Another Item</button>
    <a href="/" class="btn btn-success" role="button">Finish</a>
    </div>

    <div style="margin-top: 50px;"></div>

  {% include "footer.html" %}






