

  {% include "header.html" %}


<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        Q. Where can I get pictures from?</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
        <div class="panel-body">
            A. Anywhere and Everywhere. We dont mind at all.
        </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
        Where can I post my listicle links?</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">Anywhere you think they will get viewers. Social Media and Forums are where our current users have the most success. </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
        Q. How can I improve my Listicles</a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
        <div class="panel-body">A. 
            <p>- Number each item 
            <p>- "Top, Best, Most": Make your list title the most it can be, example: 8 Top Reasons to Make Extra money, 12 Mistakes Most Posters Make. etc...
            <p>- Give your list a Great (but short) title.
            <p>- Be controversial: Topics that get attention get more shares on social media.
            <p>- Motivate, inspire and teach. Lists that motivate people perform really well and people enjoy sharing things that inspire them.
            <p>- Be topical: Use a subject that is really big at the moment.
            <p>- Mention famous people, they tend to get alot of attention.
        </div>
    </div>
  </div>
</div>




  
  {% include "footer.html" %}






