


  {% include "header_simplex.html" %}


<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png" alt="avatar" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4>{{ username }}</h4>
                        <p>
                            <i class="glyphicon glyphicon-envelope"></i>email@example.com
                            <br />
                            <i class="glyphicon glyphicon-gift"></i>June 02, 1988</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well well-sm">

                <ul>

                    {% for post in posts %}

                    <li><a href="/{{ post.slug }}/{{ post.url_safe_title }}">{{ post.title }}</a></li>

                    {% end %}


                </ul>
                <br>
                <a href="/create_post" class="btn btn-success" role="button">Create New Listicle</a>

            </div>
        </div>
    </div>
</div>




  {% include "footer.html" %}

