

  {% include "header.html" %}


  <div class="container container-table">

  <h3> Get Paid </h3>
    <p>

    Here's how it works: You signup and create a Listicle (5 or more Pics with a title for each), then share the listicle anywhere and everywhere (facebook, twitter, etc..) to get as many people to see it as possible and then we send you the advertising revenue by PayPal (don’t have an account? just make one—it’s easy and free).

    </p>

  <h3> The Rules </h3>
    <p>

    Please dont submit content that contains  pornography or adult content.

    </p>

  <h3> More Info </h3>

  <p>

  If you want more info, ideas for listicles or help on making your listicles go 'viral' please see our <a href="/faq">FAQ</a>

  </p>

  <a href="/signup-form">Signup Now</a>

  </div>

  {% include "footer.html" %}






